@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat:wght@500&family=Cormorant+Garamond:wght@500&family=Shadows+Into+Light&family=Silkscreen&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* 1rem = 10px; */
}

:root{
    --primary-color: rgb(209, 80, 80);
    --primary-shades: rgb(214, 134, 134);
    --para-color: #80849C;
    --helper-color: #1264FA;
    --white: #fff; 
    --font-color: black;

    --main-headings-size: 5rem;
    --sub-headings-size: 3.5rem;
    --para-size: 2.3rem;

    --font-style-main: 'Silkscreen', cursive;
    --font-style-secondary:'Alkalami', serif;
    --font-style-para: 'Cormorant Garamond', serif;

    /* font-family: 'Alkalami', serif;
font-family: 'Caveat', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Silkscreen', cursive;
font-family: 'Special Elite', cursive; */
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: inline-block;
}

li {
    list-style: none;
}

.para {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 400; 
}

/* Header and navbar style  */
.header {
    height: 7.2rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 3rem;
    background-color: rgb(250, 231, 207);
}

.logo-img {
    width: 15rem;
}

.navbar-list {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    font-size:1.9rem;  
    font-family: var(--font-style-main);
}

.navbarlink{
    text-transform: uppercase;
    color: var(--font-color);
    font-weight: bolder;
}

.navbar-list .navbarlink:hover,
.navbar-list .navbarlink:active {
    color: var(--font-color);
}

.mobile-nav-icon {
    font-size: 4rem;
    color: var(--primary-color);
}

.mobile-navbar-btn {
    display:none;
}

.mobile-nav-icon [name="close"] {
    display:none;
}

/* resuable code */
.section {
    padding: 8.4rem;
}

.container {
    max-width: 130rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

.grid-two-column {
    grid-template-columns: repeat(2 , 1fr);
}

.primary-heading {
    font-size: var(--main-headings-size);
    font-family: var(--font-style-secondary);
}

.secondary-heading {
    font-size: var(--sub-headings-size);
    font-family: var(--font-style-secondary);
}

.sub-heading {
    font-size: var(--main-headings-size);
    font-family: var(--font-style-secondary);
    text-align: center;
}

.hero-para {
    font-size: var(--para-size);
    font-family: var(--font-style-para);
}

.btn {
    font-size:1.8rem;
    text-transform: capitalize;
    padding: 1.4rem 2.4rem; 
    background-color: black;
    color: var(--white);
    transition: all 0.2s linear; 
    border-radius: 2rem;
}

.btn:hover, .btn:active {
    transform: scale(1.05);
}

.image {
    width: 85%;
}

/* This is the skills sections css  */

.skills-section {
    padding: 2.5rem;
    margin:1.5rem; 
}

.skills-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    text-align: center;
  }

  .skills-item {
    padding: 2rem;
  }
  
  .skills-image {
    width: 10rem;
  }
