@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Caveat:wght@500&family=Cormorant+Garamond:wght@500&family=Shadows+Into+Light&family=Silkscreen&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* 1rem = 10px; */
}

:root{
    --primary-color: rgb(209, 80, 80);
    --primary-shades: rgb(214, 134, 134);
    --para-color: #80849C;
    --helper-color: #1264FA;
    --white: #fff; 
    --black: black;

    --main-heading-text-size: 55px;
    --sub-heading-text-size: 35px; 
    --para-text-size: 23px;

    --font-style-main: 'Silkscreen', cursive;
    --font-style-secondary:'Alkalami', serif;
    --font-style-para: 'Cormorant Garamond', serif;

    /* For smaller screens */
    --main-heading-small-size: 35px;
    --para-text-small-size: 16px;

    /* font-family: 'Alkalami', serif;
font-family: 'Caveat', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Silkscreen', cursive;
font-family: 'Special Elite', cursive; */
}   

/*===========================================================================================*/

/* CSS for Navigation Bar*/
header {
    background: var(--black);
}

nav { 
    height: 60px;
    width: 100%
}

.logo {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 60px;
    color: var(--white);
    padding: 0 50px;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-style-main);
    color: var(--white);
    padding: 1px 20px;
    text-decoration: none;
    text-transform:uppercase;
}

a:active, a:hover {
    color:rgb(209, 80, 80);
    transition: .5%;
}

.checkBtn {
    color: var(--white);
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    font-size: 23px;
}

#check {
    display: none;
}

/*===================================HOME SECTION CSS=========================================*/
.intro-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.intro-para {
    flex: 1;
    height: 500px;
}

.intro {
    font-size: var(--main-heading-text-size);
    font-family: var(--font-style-secondary);
    margin: 20px;
}

.wave {
    animation-name: hand-wave-animation;
    animation-duration: 2.5s;        
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%;      
    display: inline-block;
  }
  
  @keyframes hand-wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }

.intro-summary {
   font-family: var(--font-style-secondary);
   font-size: var(--para-text-size);
   margin: 20px;
   text-align: justify;
}

.intro-image {
    flex: 1;
    height: 500px;
    align-items: center;
}

#code-img {
    height: 450px;
    margin: auto;
    display: block;
}

/* ================================RESPONSIVE DESIGN===========================================*/
@media (max-width:952px){

    .logo{
        font-size: 30px;
        padding-left: 50px;
    }
}

@media (max-width: 858px){
    .checkBtn{
        display: block;
    }

    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5%;
    }

    #check:checked ~ ul {
        left:0;
    }

    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    /**/
    .intro-container {
        height: 550px;
        flex-direction: column;
    }

    .intro {
        font-size: var(--main-heading-small-size) ;
    }

    .intro-summary {
        font-size: var(--para-text-small-size);
    }

    #code-img {
        height: 300px;
    }
}

@media (max-width: 350px){
  
    .intro {
        font-size: 25px;
    }

    .intro-summary {
        font-size: 15px;
    }

    #code-img {
        height: 250px;
    }
}


/**/



